<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.ww.model.User">
        <id column="uid" property="id" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="userType" property="userType" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="UserInfoResultMap" type="com.ww.model.UserInfo">
        <id column="uid" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="rolename" property="rolename" jdbcType="VARCHAR"/>
        <result column="permissionname" property="permissionName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
      userName,password,userType
    </sql>
    <sql id="Permission_Column_List">
        p.pid,p.permissionname
    </sql>
    <sql id="UserInfo_Column_List">
      u.uid,u.username,u.password,u.tel,u.age,r.rolename,p.permissionname
    </sql>

    <select id="login" parameterType="com.ww.model.User" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_user
        WHERE userName = #{user.userName,jdbcType=VARCHAR}
    </select>

    <select id="getPermission" parameterType="INTEGER" resultType="com.ww.model.Permisssion">
        SELECT <include refid="Permission_Column_List"/> FROM t_user u
        LEFT JOIN USER_ROLE ur ON u.uid = ur.userid
        LEFT JOIN ROLE r ON ur.roleid = r.rid
        LEFT JOIN ROLE_PERMISSION rp ON r.rid = rp.roleid
        LEFT JOIN PERMISSION p ON rp.permissionid = p.pid
        WHERE u.uid = #{id,jdbcType=INTEGER}
    </select>

    <select id="getUserInfoList" resultMap="UserInfoResultMap">
        SELECT <include refid="UserInfo_Column_List"/> FROM t_user u
        LEFT JOIN USER_ROLE ur ON u.uid = ur.userid
        LEFT JOIN ROLE r ON ur.roleid = r.rid
        LEFT JOIN ROLE_PERMISSION rp ON r.rid = rp.roleid
        LEFT JOIN PERMISSION p ON rp.permissionid = p.pid
        ORDER BY u.uid asc
    </select>
</mapper>